@font-face {
    font-family: 'JUST Sans';
    src: url('JUSTSans-Rg.woff2') format('woff2'),
        url('JUSTSans-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

