.AppBar a,
.additional-links a {
  color: inherit;
  text-decoration: none;
  margin-right: 16px;
}

.AppBar a:hover,
.AppBar button:hover,
.AppBar button:hover .MuiButton-label {
  color: #0000EE;
  text-decoration: underline;
}

.ContactUsButton:hover {
  text-decoration: none !important;
  box-shadow: none !important;
}

.FooterNavLink {
  color: inherit;
  text-decoration: none;
}

.FooterNavLink:hover {
  transform: scale(1.2);
  display: inline-block;
}

/* Google Recaptcha V3 badge */
.grecaptcha-badge {
  visibility: hidden;
}

/* Marquee */
.scroller {
  overflow: hidden;
  max-width: 100vw;
}

.scroller_inner {
  display: flex;
  padding-block: 1rem;
  gap: 1rem;
}

.scroller_item {
  margin-right: 6.25rem;
  /* flex: 0 0 33.333%; */
}