.AppBar a,
.additional-links a {
  color: inherit;
  text-decoration: none;
  margin-right: 16px;
}

.AppBar a:hover,
.AppBar button:hover,
.AppBar button:hover .MuiButton-label {
  text-decoration: underline;
}

.ContactUsButton:hover {
  text-decoration: none !important;
  box-shadow: none !important;
}

.FooterNavLink {
  color: inherit;
  text-decoration: none;
}

.FooterNavLink:hover {
  transform: scale(1.2);
  display: inline-block;
}

/* Google Recaptcha V3 badge */
.grecaptcha-badge {
  visibility: hidden;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 1; /* Start fully visible */
  }
  50% {
    transform: translateY(-1px);
    opacity: 0.9;
  }
  80% {
    transform: translateY(-2.5px);
    opacity: 0.5;
  }
  90% {
    transform: translateY(-2.5px);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-3px);
    opacity: 0; /* Fade out */
  }
}